@layer components {
  .input {
    --input-background: transparent;
    --input-border-color: var(--color-border-strong);
    --input-padding: 0.5em 0.8em;

    background-color: var(--input-background);
    border: 1px solid var(--input-border-color);
    border-radius: 0.5em;
    color: var(--color-ink);
    font: inherit;
    font-size: max(16px, 1em);
    inline-size: 100%;
    padding: var(--input-padding);
    resize: none;
  }

  .input:focus {
    outline: var(--focus-ring-size) solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  .input:disabled { cursor: not-allowed; opacity: 0.5; pointer-events: none; }

  .input--select {
    appearance: none;
    background-image: url("caret-down.svg");
    background-position: right 0.5em center;
    background-repeat: no-repeat;
    background-size: 1em;
    padding-inline-end: 1.8em;
  }
}
